<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAFKA-CONTROLLER</title> 
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div id="base">
        <div id="left">
        
        </div>
        
        <div id="right">
            <div id="top">
                <div style="margin-right: 20%;">
                    <span class="title">Tópico:</span>
                    <span>102030449801292</span>
                </div>

                <div style="margin-right: 20%;">
                    <span class="title">Partição:</span>
                    <span>0</span>
                </div>

                <div>
                    <span class="title">Conta:</span>
                    <span>3102</span>
                </div>
            </div>
            <div id="midle-1">
                <!-- <div id="cubo-1" style="margin-left: 10% ;">
                    <span class="cube">Total:1025</span>
                </div>

                <div id="cubo-2" style="margin-left: 10%;margin-right: 10%;">
                    <span class="cube">Não lindo:1025</span>
                </div>
                    
                <div id="cubo-3" style="margin-right: 10%;">
                    <span class="cube">posição:1025</span>
                </div> -->

                <div class="square">
                    <span class="cube">Total:</span>
                    <span>1025</span>
                </div>

                <div class="square">
                    <span class="cube">Não lindo:</span>
                    <span>1025</span>
                </div>
                    
                <div class="square">
                    <span class="cube">posição:</span>
                    <span>1025</span>
                </div>
            </div>
            <div id="midle-2">

            </div>
            <div id="bottom">

            </div>
        </div>
    </div>
</body>
</html>